.ant-form-item:last-of-type {
  margin-bottom: 0;
}

.ant-card-body {
  padding: 12px;
}

tr td:first-child,
.do-ellipsps {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

tr.darker,
td.darker {
  background: #f6f6f6;
}
