<ng-container *ngIf="tasksList && !tasksList.length">
    <nz-spin [nzSpinning]="true">
        <nz-empty></nz-empty>
    </nz-spin>
</ng-container>

<ng-container *ngIf="tasksList && tasksList.length">
    <nz-spin [nzSpinning]="loading">
        <nz-table #expandTable
                  nzBordered
                  nzSize="small"
                  nzTableLayout="fixed"
                  [nzData]="tasksList"
                  [nzPageSize]="50"
                  [nzLoading]="!tasksList.length"
                  [nzScroll]="{ y: '65vh' }">
            <thead>
                <tr>
                    <th>Task ID</th>
                    <th>Action</th>
                    <th>Description</th>
                    <th nzWidth="95px">Start</th>
                    <th nzWidth="80px">Running</th>
                    <th nzRight
                        nzWidth="95px">Action</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let data of expandTable.data; let i = index">
                    <ng-container *ngFor="let item of taskTree[data.id.toString()]">
                        <tr [ngClass]="{'darker': item.level === 0}"
                            *ngIf="(item.parent && item.parent.expand) || !item.parent">
                            <td [nzIndentSize]="item.level! * 20"
                                [nzShowExpand]="!!item.children"
                                [(nzExpand)]="item.expand"
                                (nzExpandChange)="collapse(taskTree[data.id], item, $event)">
                                {{ item.id }}
                            </td>
                            <td>{{ item.action }}</td>
                            <td nzBreakWord>{{ item.description }}</td>
                            <td>{{ item.start_time | date:'MM/dd/yy  HH:mm:ss' }}</td>
                            <td>{{ item.running_time }}</td>
                            <ng-template #iconTpl>
                                <i nz-icon
                                   style="color: red;"
                                   nzType="question-circle-o"></i>
                            </ng-template>
                            <td nzRight
                                [ngClass]="{'darker': item.level === 0}"> <button #cancelBtn
                                        nz-button
                                        nzType="primary"
                                        [disabled]="!item.cancellable"
                                        [nzIcon]="iconTpl"
                                        nz-popconfirm
                                        nzPopconfirmTitle="Are you sure?"
                                        nzPopconfirmPlacement="left"
                                        nzCancelText="Abort"
                                        nzOkText="Yes, cancel!"
                                        (nzOnConfirm)="doCancelTask(cancelBtn, item.node, item.id)"
                                        nzDanger>Cancel</button>
                            </td>
                        </tr>
                    </ng-container>
                </ng-container>
            </tbody>
        </nz-table>
    </nz-spin>
</ng-container>