<form nz-form
      [formGroup]="validateForm"
      (ngSubmit)="submitForm()">
  <nz-card [nzTitle]="">
    <nz-form-item>
      <nz-form-label [nzSm]="6"
                     [nzXs]="24"
                     nzFor="host"
                     nzRequired>Host</nz-form-label>
      <nz-form-control [nzSm]="14"
                       [nzXs]="24"
                       nzErrorTip="Please insert a host url">
        <input nz-input
               id="host"
               type="url"
               formControlName="host"
               required
               placeholder="https://my_es_instance_root.com" />
      </nz-form-control>
    </nz-form-item>
  </nz-card>

  <br>

  <nz-card [nzTitle]="">
    <nz-divider nzText="Authorize using BasicAuth"></nz-divider>
    <nz-form-item>
      <nz-form-label [nzSm]="6"
                     [nzXs]="24"
                     nzFor="username">
        Username</nz-form-label>
      <nz-form-control [nzSm]="14"
                       [nzXs]="24">
        <input nz-input
               type="text"
               id="username"
               autocomplete="off"
               formControlName="username"
               (ngModelChange)="updateConfirmValidator()" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6"
                     [nzXs]="24"
                     nzFor="password">
        Password</nz-form-label>
      <nz-form-control [nzSm]="14"
                       [nzXs]="24">
        <input nz-input
               type="password"
               id="password"
               autocomplete="off"
               formControlName="password"
               (ngModelChange)="updateConfirmValidator()" />
      </nz-form-control>
    </nz-form-item>

    <nz-divider nzText="or using an API key"></nz-divider>

    <nz-form-item>
      <nz-form-label [nzSm]="6"
                     [nzXs]="24"
                     nzFor="apiKey">
        API Key</nz-form-label>
      <nz-form-control [nzSm]="14"
                       [nzXs]="24">
        <input nz-input
               type="text"
               id="apiKey"
               autocomplete="off"
               formControlName="apiKey"
               (ngModelChange)="updateConfirmValidator()" />
      </nz-form-control>
    </nz-form-item>


    <nz-form-item nz-row
                  class="register-area">
      <nz-form-control [nzSpan]="14"
                       [nzOffset]="6">
        <button nz-button
                [nzLoading]="loading"
                nzType="primary">Go!</button>
      </nz-form-control>
    </nz-form-item>

    <nz-card [nzTitle]=""
             *ngIf="loginError">
      <nz-alert nzType="error"
                nzMessage="Error"
                [nzDescription]="loginError"
                nzShowIcon> </nz-alert>
    </nz-card>

  </nz-card>
</form>