<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a routerLink="/">
        <h1>🔦&nbsp;elasTasks</h1>
      </a>
    </div>
    <ul nz-menu
        nzTheme="light"
        nzMode="inline"
        [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu
          nzOpen
          nzTitle="Dashboard"
          nzIcon="dashboard">
        <ul>
          <li nz-menu-item
              nzMatchRouter>
            <a routerLink="/login"
               [queryParams]="{force: true}">Connection</a>
          </li>
          <li nz-menu-item
              nzMatchRouter>
            <a routerLink="/tasks">Tasks</a>
          </li>
        </ul>
      </li>
    </ul>

    <nz-alert *ngIf="currentHostName"
              class="successfully-connected"
              nzType="success"
              [nzMessage]="currentHostName"
              nzShowIcon></nz-alert>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>